/* BASIC STYLES HERE */
label{
  display: block;
}

input{
  width: 100%;
}
.car-creator{
  height: 10vh;
  width: 10vh;
  object-fit: cover;
}

.car-img{
  height: 50vh;
  width: 50vw;
  object-fit: cover;
  object-position: center;
}
