/* BASIC STYLES HERE */
label {
  display: block;
}

input {
  width: 100%;
}

.car-creator {
  height: 10vh;
  width: 10vh;
  object-fit: cover;
}

.car-img {
  height: 50vh;
  width: 50vw;
  object-fit: cover;
  object-position: center;
}

.box {
  background-color: rgba(222, 221, 221, 0.462);
  border: 5px solid black;
}

.houseImg {
  height: 45vh;
  width: 100%;
  object-fit: cover;
}